{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="my-4 text-center whitesmoke title-text"><i class="brt-grn fas fa-briefcase"></i> My Projects</h1>
        <br>
        <div class="row scroll-stop" id="project-row">
            {% for project in projects %}
                <div class="my-2 px-4 col-12 col-md-6">
                    <a href="{% url 'portfolio_details' pk=project.id %}" class="text-decoration-none">
                        <div class="shadow-6 card mb-3 bg-transparent">
                            <img src="{{ MEDIA_URL }}{{ project.project_image }}" class="card-img-top" alt="...">
                            <div class="card-body black-overlay">
                                <h5 class="title-text whitesmoke card-title">{{ project.project_name }}</h5>
                                <p class="card-text paragraph-text whitesmoke">{{ project.project_intro }}</p>
                                <p class="card-text"><small class="text-muted">Created on: {{ project.project_date }}</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="mx-2 my-4 text-center button-wrapper">
            <a id="return-home" class="btn text-white" href="{% url 'portfolio_page' %}">
                <i class="fas fa-chevron-left"></i> Home
            </a>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
{% endblock %}