{% extends 'base.html' %}
{% block content %}
    <main class="container">
        <div class="row" id="cta-section">
            <div class="col-12">
                <h1 class=" text-white title-text">
                    Ger Tobin</h1>
                <h3 class="text-white paragraph-text">
                    Web Developer
                </h3>
                <p class="text-white paragraph-text w-50">
                    I am a Full Stack Web Developer based in Tralee County Kerry, Ireland.
                    I am adept at using HTML5, CSS, JavaScript and Python. I am proficient at using jQuery,
                    Bootstrap, Flask and Django frameworks. I have experience with SQL and NoSQL databases.
                    If you are an employer wishing to  hire me or another web developer looking to collaborate
                    you can contact me <a href="#">here</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}