{% extends 'base.html' %}
{% block content %}
    <main class="scroll-stop">
        <div class="cta-gap"></div>
        <div class="row" id="cta-section">
            <div class="col-11 col-md-6">
                <h1 id="cta-header" data-aos-delay="500" data-aos="flip-right"
                    class="text-white title-text ps-2 ps-md-5"><span class="brt-grn"><i
                            class="fas fa-laptop-code"></i></span>
                    Ger Tobin |<span id="cta-sub" class="big-font text-white paragraph-text"> Web Developer</span></h1>
                <p id="cta-para" data-aos-delay="800" data-aos="flip-right" class="text-white paragraph-text ps-2 ps-md-5 mb-5">
                    I am a Full Stack Web Developer based in Tralee County Kerry, Ireland.
                    I am adept at using HTML5, CSS, JavaScript and Python. I am proficient at using jQuery,
                    Bootstrap, Flask and Django frameworks. I have experience with SQL and NoSQL databases.
                    If you are an employer wishing to  hire me or another web developer looking to collaborate
                    you can contact me <a href="#">here</a>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-3 ps-2 p-md-5 pb-5">
                <p class="hand-drawn brt-grn big-font" >Check out my previous projects!</p>
                <img class="pt-1" data-aos="fade-right" data-aos-delay="400" id="yellow-arrow" src="media/grunge-arrow-2-1.png"
                    alt="Picture of a yellow arrow">
                <div class="container">
                    <div class="center">
                        <a href="#" id="portfolio-btn" class="shadow-6 hide-element btn">
                            <span class="paragraph-text">Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 ps-2 p-md-5">
                <div class="container d-block">
                    <div class="center">
                        <a href="{% url 'contact' %}" class="shadow-6 btn" data-aos-delay="550" data-aos="flip-right">
                            <span class="paragraph-text">Contact Me!</span>
                        </a>
                    </div>
                </div>
                <img data-aos="fade-left" data-aos-delay="500" id="scribble-arrow"
                    src="media/grunge-arrow-2-1.png">
                <p class="big-font hand-drawn brt-yellow pe-3">Get in touch with me here!</p>
            </div>
            <p class="text-white big-font hand-drawn mt-5 text-center">... Or just download my CV <span><a
                        class="brt-orange" href="#">Here!!!</a></span></p>
        </div>
    </main>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // Function to delay the appearance of the portfolio button
        window.onload = setTimeout(
            function () {
                let button = document.getElementById('portfolio-btn')
                button.classList.remove('hide-element')
            }, 900)
    </script>
{% endblock %}