@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

/* General styles */

* {
    box-sizing: border-box;
}

html, body {
    background-image: url('../../media/coding-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.black-overlay {
    background:rgba(0, 0, 0, 0.7);
}

.title-text {
    font-family: 'Montserrat',
    sans-serif;
}

.paragraph-text {
    font-family: 'Roboto Slab',
    serif;
}

.horz-center {
    margin: 0 auto;
}

.brt-grn {
    color: #2a9d8f;
}

.brt-yellow {
    color: #e9c46a;
}

.brt-orange {
    color: #f4a261;
}

/* Navbar styles */

.w-33 {
    min-width: 33%;
}

.navbar-toggler {
    background-color: white;
}

/* Index page styles */

main {
    position: relative;
    min-height: 90vh;
}

#cta-section {
    position: absolute;
    top: 30%;
}

/* Style for button animation from https://webdeasy.de/en/top-css-buttons-en/ */

.btn {
    width: 120px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.center {
    width: 120px;
    height: 40px;
    position: absolute;
}





/* Media Queries */
@media only screen and (max-width: 575px) {
    .navbar-brand {
        font-size: 15px;
    }
    .paragraph-text {
        font-size: 13px;
    }
}

