@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('../../media/coding-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    min-width: 100vw;
}

.black-overlay {
    background:rgba(0, 0, 0, 0.6);
}

.title-text {
    font-family: 'Montserrat',
    sans-serif;
}

.paragraph-text {
    font-family: 'Roboto Slab',
    serif;
}

.horz-center {
    margin: 0 auto;
}

.w-33 {
    min-width: 33%;
}

.navbar-toggler {
    background-color: white;
}










/* Media Queries */
@media only screen and (max-width: 575px) {
    .navbar-brand {
        font-size: 15px;
    }
}

