@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* General styles */

* {
    box-sizing: border-box;
}

.no-list-dec {
    list-style: none;
}

html, body {
    background-image: url('../../media/coding-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.black-overlay {
    background:rgba(0, 0, 0, 0.7);
}

.title-text {
    font-family: 'Montserrat',
    sans-serif;
}

.paragraph-text {
    font-family: 'Roboto Slab',
    serif;
}

.hand-drawn {
    font-family: 'Gochi Hand',
    cursive;
}

.horz-center {
    margin: 0 auto;
}

.brt-grn {
    color: #2a9d8f;
}

.brt-yellow {
    color: #e9c46a;
}

.brt-orange {
    color: #f4a261;
}

.big-font {
    font-size: 1.7rem;
}

.cta-gap {
    height: 20vh;
}

.whitesmoke {
    color: whitesmoke;
}

.center-item {
    margin: 0 auto;
}

/* Navbar styles */

.w-33 {
    min-width: 33%;
}

.navbar-toggler {
    background-color: #e9c46a;
}

.navbar-nav li a:hover {
    color: #e9c46a !important;
}

/* Index page styles */

main {
    min-height: 90vh;
}

.btn {
    width: 130px;
    height: 40px;
    cursor: pointer;
    background: #2a9d8f;
    border: 1px solid #2a9d8f;
    outline: none;
    transition: 1s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
    transition: 1s ease-in-out;
    background: #f4a261;
    color: black !important;
}


#yellow-arrow {
    width: 120px;
    height: 100px;
    background: transparent;
    transform: rotate(180deg);
}

#scribble-arrow {
    width: 120px;
    height: 100px;
    background: transparent;
    margin-top: 10px;
}

.hide-element {
    display: none;
}

/* Code snippet from https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */
.shadow-6 {
    box-shadow: 0 1px 1px rgba(100, 100, 100, 0.3),
        0 2px 2px rgba(100, 100, 100, 0.3),
        0 4px 4px rgba(100, 100, 100, 0.3),
        0 8px 8px rgba(100, 100, 100, 0.3),
        0 16px 16px rgba(100, 100, 100, 0.3),
        0 32px 32px rgba(100, 100, 100, 0.3);
}

/* Back to the top button from https://codepen.io/matthewcain/pen/ZepbeR */

#button {
    display: inline-block;
    background-color: #e9c46a;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/* Footer stylings */

footer {
    background-color: black;
}

footer a:hover,
footer .btn:focus,
footer .btn:active {
    color: #e9c46a !important;
}

#footer-nav li a:hover,
#footer-nav li a:focus,
#footer-nav li a:active {
    color: #e9c46a !important;
}


.vertical-rule {
    border-right: 1px solid white;
}

/* About Me stylings */

#ger-pic {
    max-height: 40vh;
    margin-top: 10vh;
    max-width: 90%;
}

#thinking-bubble {
    max-height: 40vh;
    margin-bottom: 10vh;
    max-width: 90%;
}

#about-me-p {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fa-quote-left:before {
    font-size: 1.8rem;
}

.fa-quote-right:before {
    font-size: 1.8rem;
}

/* Code inspired from a freecodecamp tutorial */

.animation-container {
    height: 16px;
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    background: rgba(0, 0, 0, 0.7);
}

.animation-container .html {
    display: inline-block;
    position: relative;
    background: #2a9d8f;
    background-size: 100%;
    width: 85%;
    height: 16px;
    border-radius: 12px 0 0 12px;
    animation: html-anim 4s 1 ease-out;
}

@keyframes html-anim {
    0% {
        width: 1%
    }
    100% {
        width: 85%
    }
}

.animation-container .css {
    display: inline-block;
    position: relative;
    background: #2a9d8f;
    background-size: 100%;
    width: 70%;
    height: 16px;
    border-radius: 12px 0 0 12px;
    animation: css-anim 4s 1 ease-out;
}

@keyframes css-anim {
    0% {
        width: 1%
    }

    100% {
        width: 70%
    }
}

.animation-container .js {
    display: inline-block;
    position: relative;
    background: #2a9d8f;
    background-size: 100%;
    width: 60%;
    height: 16px;
    border-radius: 12px 0 0 12px;
    animation: js-anim 4s 1 ease-out;
}

@keyframes js-anim {
    0% {
        width: 1%
    }

    100% {
        width: 60%
    }
}

.animation-container .python {
    display: inline-block;
    position: relative;
    background: #2a9d8f;
    background-size: 100%;
    width: 80%;
    height: 16px;
    border-radius: 12px 0 0 12px;
    animation: python-anim 4s 1 ease-out;
}

@keyframes python-anim {
    0% {
        width: 1%
    }

    100% {
        width: 80%
    }
}

/* Radial progress bar stylings based on https://www.dottedsquirrel.com/circular-progress-css/ 
    Styles for 1st radial progess bar */

.circular {
    height: 150px;
    width: 150px;
    position: relative;
    border: solid transparent 1px;
}

.circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 130px;
    width: 130px;
    margin: -65px 0 0 -65px;
    background: rgba(0, 0, 0, 1);
    border-radius: 100%;
}

.circular .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #2a9d8f;
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
    background: #2a9d8f;
}

.circle .left .progress {
    z-index: 1;
    animation: left 2s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.circle .right {
    transform: rotate(90deg);
    z-index: 3;

}

.circle .right .progress {
    animation: right 2s linear both;
    animation-delay: 1s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
    }
}

/* Styling for 2nd radial progress bar */

.circular .number-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #e9c46a;
}

.circle .right-1 {
    transform: rotate(54deg);
    z-index: 3;

}

.circle .right-1 .progress-1 {
    animation: right 2s linear both;
    animation-delay: 0.6s;
}

@keyframes right-1 {
    100% {
        transform: rotate(180deg);
    }
}

.circle .bar .progress-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
    background: #e9c46a;
}

.circle .left .progress-1 {
    z-index: 1;
    animation: left 2s linear both;
}

/* Styling for 3rd radial progress bar */

.circular .number-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #f4a261;
}

.circle .right-2 {
    transform: rotate(36deg);
    z-index: 3;

}

.circle .right-2 .progress-2 {
    animation: right 2s linear both;
    animation-delay: 0.35s;
}

@keyframes right-2 {
    100% {
        transform: rotate(180deg);
    }
}

.circle .bar .progress-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
    background: #f4a261;
}

.circle .left .progress-2 {
    z-index: 1;
    animation: left 2s linear both;
}

/* Styling for 4th radial progress bar */

.circular .number-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #2a9d8f;
}

.circle .right-3 {
    transform: rotate(126deg);
    z-index: 3;

}

.circle .right-3 .progress-3 {
    animation: right 2s linear both;
    animation-delay: 1.5s;
}

@keyframes right-3 {
    100% {
        transform: rotate(180deg);
    }
}

.circle .bar .progress-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
    background: #2a9d8f;
}

.circle .left .progress-3 {
    z-index: 1;
    animation: left 2s linear both;
}

/* Scroll down button stylings */ 

#button-down {
    display: inline-block;
    background-color: #e9c46a;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}

#button-down::after {
    content: "\f078";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button-down:hover {
    cursor: pointer;
    background-color: #333;
}

#button-down:active {
    background-color: #555;
}

#button-down.show {
    opacity: 1;
    visibility: visible;
}

/* Message toast styles */ 

.message-container {
    position: fixed;
    top: 45px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/* Convenience classes - colors copied from Bootstrap and idea from Boutique Ado */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/* Media Queries */
@media only screen and (max-width: 575px) {
    .navbar-brand {
        font-size: 15px;
    }
    .paragraph-text {
        font-size: 13px;
    }
    #cta-section {
        top: 15%;
    }
}

